.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  row-gap: 0px;
}

/* .main-layout {
  display: grid;
  grid-template-columns: minmax(260px, 1fr) minmax(980px, auto) minmax(
      260px,
       1fr
    );
} */

.main-layout > *.full {
  grid-column: 1 / -1;
}

/* CARD LAYOUT */

.card-layout {
  border: 2px solid var(--clrBorder1);
  border-bottom: 0px;
  grid-column: 2/4;
  padding-top: 80px;
  padding-right: 10px;
}

.card-layout > * {
  margin-bottom: 80px;
}
