/* MOBILE ONLY */

@media (max-width: 920px) {
  .main-layout {
    grid-auto-flow: row;
  }
  .card-layout {
    padding-top: 40px;
    padding-right: 0px;
  }
  .card-layout > * {
    margin-bottom: 40px;
  }
  .card {
    grid-template-columns: 1fr;
    gap: 10px;
    box-shadow: 0 5px 15px 0px;
    padding: 10px;
  }
  .main-header {
    grid-template-columns: 1fr;
  }

  .main-nav-container {
    position: fixed;
    top: 0;

    transform: translateY(-100%);

    transition: transform 0.6s;
  }
  body.menu-open .main-nav-container {
    transform: translateY(0);
  }
  body.menu-open .main-nav {
    box-shadow: 0px 0px 17px rgb(0 0 0 / 50%);
  }
  body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }
  .main-nav {
    background-color: rgba(179, 179, 179, 0.9);
    flex-direction: column;
    align-items: center;
    border-inline-start: 1px solid #d3d3d3;

    width: clamp(200px, 30vw, 300px);

    transition: box-shadow 0.6s;
  }
  .main-nav-container .main-nav li {
    width: 100%;
    border: 1px solid black;
    font-weight: bold;
  }
  .main-header .main-nav li:hover {
    color: aliceblue;
    text-decoration: underline var(--btnActive) 6px;
    border: 4px solid var(--btnActive);
  }

  .main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .main-header .btn-toggle {
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.3s ease-out;
  }
  .main-header .btn-toggle:hover {
    scale: 1.2;
  }

  .main-header .main-nav a {
    display: flex;
    justify-content: center;
    padding: 0.6em 0;

    transition: background-color 0.4s;
  }

  body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }
  body.menu-open .main-header .btn-toggle {
    visibility: hidden;
  }

  .newsletter {
    font-size: 0.7em;
    padding: 10px;
    margin-bottom: 0px;
  }
  .newsletter a {
    padding: 0px;
    line-height: 2em;
  }

  footer {
    text-align: center;
  }

  .modal {
    position: fixed;

    width: 100%;
    height: 100%;

    transform: translateY(-100%);
    transition: transform 0.6s;
  }
  body.modal-open .modal {
    /* background-color: green; */
    transform: translateY(0);
  }
  body.modal-open .main-screen {
    opacity: 1;
  }

  .main-nav li:first-child:hover .dropdown-content {
    color: var(--btnActive);
    display: block;
  }
}

/* MEDIUM */

@media (min-width: 920px) {
  .main-layout {
    grid-template-columns: 1fr 8fr 8fr 1fr;
  }

  .main-header {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
  .main-header .logo {
    place-self: center end;
    margin-inline-end: 20px;
  }
  .main-header .main-nav-container {
    /* grid-column: 2/3; */
    place-self: center;
  }
  .main-header .main-nav li {
    width: 80px;
    height: 80px;
  }
  .main-header .main-nav li:nth-child(2) {
    border-left: 0px;
    border-right: 0px;
  }
  .main-header .main-nav li:nth-child(3) {
    border-right: 0px;
  }
  .main-header .logo {
    grid-column: 2;
  }

  .card-layout {
    border: 2px solid var(--clrBorder1);
    border-bottom: 0px;
    grid-column: 2/4;
    padding-top: 80px;
    padding-right: 10px;
  }
  .card-layout > * {
    margin-bottom: 80px;
  }

  .btn-toggle {
    display: none;
  }
  .main-nav li:first-child:hover .dropdown-content {
    display: block;
  }

  .modal {
    position: fixed;
    top: 0;
    right: 40%;
    transform: translateY(-100%);
    transition: transform 0.6s;
    /* opacity: 0; */
  }
  body.modal-open .modal {
    /* background-color: green; */
    transform: translateY(100%);
  }
  body.modal-open .main-screen {
    opacity: 1;
  }
}

/* LARGE */

@media (min-width: 1060px) {
  .main-layout {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  .main-header {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  .main-header .logo {
    place-self: center start;
  }
  .main-header .main-nav li {
    width: 120px;
    height: 120px;
  }
}

/* SMALL */
/* @media (min-width: 600px) {
    .main-layout {
        grid-template-columns:
            minmax(var(--layout-padding), 1fr)
            minmax(auto, var(--s))
            minmax(var(--layout-padding), 1fr);
    }
    .card-layout {
        grid-template-columns: var(--card-layout-margin) 1fr var(--card-center-margin) 1fr var(--card-layout-margin);
    }

    .card-layout > *:nth-child(even) {
        grid-column: 2;
    }

    .card-layout > *:nth-child(odd):not(:first-child) {
        grid-column: 4;
    }

    .card-layout > *:first-child > *:not(.card-image) {
        margin-left: var(--card-layout-margin);
        margin-right: var(--card-layout-margin);
    }
} */
